***1.row***

In [2]:
n=int(input("enter a row :  "))

enter a row :  4

In [2]:
for i in range(n):
    print("*",end="")

****

***2.square***

In [3]:
for i in range(n):
    print("*"*n)

****
****
****
****

In [6]:
for i in range(n):
    print((str(i+1)+"")*n)

1111
2222
3333
4444

***4.CHAR PRINT***

In [10]:
n=int(input("enter a char:  "))
for i in range(n):
    print((chr(65+i)+"")*n)

enter a char:  4
AAAA
BBBB
CCCC
DDDD

***5.right angle triangle***

In [12]:
for i in range(n):
    for j in range(i+1):
        print("*",end="")
    print()

*
**
***
****

***6.prymid***

In [25]:
for i in range(n):
    print(( ' '*(n-i-1)+("* ")*(i+1)))

   *
  * *
 * * *
* * * *

***7.revers pyramaid***

In [28]:
for i in range(n):
    print(" "*i+" *"*(n-i))

 * * * *
  * * *
   * *
    *

In [36]:
for i in range(n):
    print(( ' '*(n-i-1)+(" *")*(i+1)))
for i in range(n-1):
    print(" "*(i+1)+" *"*(n-i-1))

    *
   * *
  * * *
 * * * *
  * * *
   * *
    *

In [3]:
for i in range(n):
    print("*",end="")

****

In [4]:
for i in range(n):
    print("*"*n)

****
****
****
****

In [10]:
for i in range(n):
    print(str(i+1)*n)

1111
2222
3333
4444

In [15]:
for i in range(n):
    print((str(i+1)+"")*n)

1111
2222
3333
4444

In [20]:
for i in range(n):
    print((chr(65+i)+"")*n)

AAAA
BBBB
CCCC
DDDD

In [44]:
for i in range(n):
    for j in range(i):
        print("*",end="")
    print()

*
**
***

In [ ]:
bharath