In [1]:
def my_class(a,b):
    print(a+b)

In [2]:
my_class(10,20)

30

In [11]:
def check_even(num):
    for number in num:
        if number%2==0:
            return True
        else:
            pass

In [16]:
check_even([1,3])

In [13]:
def even_number(num):
    it_is_even=[]
    for number in num:
        if number%2==0:
            it_is_even.append(number)

In [17]:
even_number([2,1,4,5,6])

In [4]:
def check_even_number(num_list):
    
    even_numbers=[]
    
    for number in num_list:
        
        if number%2==0:
            even_numbers.append(number)
    print(even_numbers)
check_even_number([2,3,4,5])

[2, 4]

***TUPLE UNPACKING WITH FUNCTIONS***

In [15]:
work_hours = [("bharath",1000),("sharath",500),("ram",200)]

In [16]:
def employe_work(work_hours):
    employee_max=0
    employee_of_month = ''
    for emp,hour in work_hours:
        if hour>employee_max:
            employee_max=hour
            employee_of_month=emp
        else:
            pass
    
    return(employee_of_month,employee_max)

('bharath', 1000)

In [18]:
result=(employe_work(work_hours))

In [9]:
work_hours1 = [("bharath",1000),("sharath",500),("ram",200)]
def empl_high(work_hours1):
    emp_max=0
    emp_of_month=''
    for emp,hour in work_hours1:
        if hour>emp_max:
            emp_max=hour
            emp_of_month=emp
        else:
            print("nothing")
    return emp_max,emp_of_month

In [10]:
empl_high(work_hours1)

nothing
nothing

(1000, 'bharath')

*** *arg and **kwarg ***

the arg is the argument and kwarg is the keyword argument it is used for accepting number of given values
the arg is return as tuple   and  the kwarg return the value as dictionary

In [9]:
def func(a,b,c=0,d=0):
    return sum((a,b,c,d))*10

In [10]:
result=func(10,10,10,10)

In [11]:
type(result)

int

In [12]:
result

400

In [20]:
def func1(*arg):
    return sum(arg)*0.05

In [21]:
func1(100)

5.0

In [23]:
func1(1000,100,100)f"My favorite fruit is {kwargs['fruit']}"

60.0

In [38]:
def func2(**kwarg):
    if 'frute' in kwarg:
        print (f"your favorite fruite {kwarg ['frute']}")
    else:
        pass

In [39]:
func2(frute="apple")

your favorite fruite apple

In [86]:
def func3(*args,**kwarg):
    print (args)
    print (kwarg)
    print ('i would like{}{}'.format(args[0],kwarg['food']))

In [90]:
 func3(0,20,30,food='briyani',juice='orange',animal="dog")

(0, 20, 30)
{'food': 'briyani', 'juice': 'orange', 'animal': 'dog'}
i would like0briyani