In [1]:
print('hello world')

hello world

In [4]:
print(3+2)

5

In [6]:
print('HELLO WORLD')

HELLO WORLD

In [7]:
print(1,2,34,5,'madhu')

1 2 34 5 madhu

In [12]:
a = [1,2,3,4,'madhu',5.3]
print(a)

[1, 2, 3, 4, 'madhu', 5.3]

In [13]:
print(id(a))

1494684018432

In [14]:
type(a)

list

In [17]:
print('a',end = 'b')

ab

In [18]:
l = 10
area_of_sq = l*l
print(area_of_sq)

100

In [20]:
l = int(input('enter some value:  '))
area_of_sq= l*l
print(area_of_sq)

enter some value:  100
10000

In [23]:
l = str(input("what is your name:     "))
print('Hello ' +   l)

what is your name:     madhu
Hello madhu

In [24]:
l

'madhu'

In [27]:
madhumitha=('kufr')

In [28]:
madhumitha

'kufr'

In [ ]:
#strings is noting but surrounded by "" or ''

In [1]:
'r'

'r'

In [2]:
                                         #slicing
word = 'python class'

In [3]:
word[7:17]

'class'

In [13]:
word[7:-1]   #start at the seven index posistion and upto the end if -1

'clas'

In [5]:
#modify

In [9]:
word.upper()

'PYTHON CLASS'

In [14]:
word.upper()

'PYTHON CLASS'

In [17]:
print(word.strip())

python class

In [18]:
string = '                PYTHONA'

In [19]:
string.strip()   #it will eliminats the space in the starting position

'PYTHONA'

In [22]:
                                  #replacing values in str

In [25]:
string.replace("P","G")

'                GYTHONA'

In [27]:
string.replace('P','h')

'                hYTHONA'

In [ ]:
p_word=string.replace("P","G") #p indiicates here is permanent

In [28]:
para = 'good evening, welcome to python class!'

In [30]:
para.split(',')

['good evening', ' welcome to python class!']

In [31]:
para.split(' ')

['good', 'evening,', 'welcome', 'to', 'python', 'class!']

In [32]:
#concateniton

In [34]:
v1 = 'hello'
v2 = 'world'
v1 + v2

'helloworld'

In [35]:
v1+' '+v2

'hello world'

In [42]:
a ='hello'
b = 'my'
c = 'self'
d = 'madhumitha'
a+' '+b+' '+c+' '+d

'hello my self madhumitha'

In [38]:
d.capitalize()

'Madhumitha'

In [39]:
d.find(a)

-1

In [47]:
a.find(a)

0

In [48]:
w='1234567890'

In [49]:
w.isdigit()

True

In [50]:
python = 'hi my self madhumith shanmugam'

In [53]:
len(python)

30

In [69]:
#tuple
#we cannot change the eliments in th process of exigution in case to change we want to change the tuple to the list
#i alsways continous with () curly braces

In [70]:
mytuple=('apple','mangp','orangaa',1,2,4)

In [71]:
mytuple

('apple', 'mangp', 'orangaa', 1, 2, 4)

In [72]:
mytuple.index('apple')

0

In [73]:
#list 
#this can change in the processes of exigustion
#it always continous with the square braket[]

In [6]:
mylist = ['madhu','mitha']

In [1]:
#sets

In [2]:
#sets are used to store multiple items in single variablel

In [3]:
l1 = {"apple","mango",1,2,3,4}  #always it will be in the {}

In [5]:
l1     #it takes the intigers first strings next

{1, 2, 3, 4, 'apple', 'mango'}

In [7]:
#it is unorder unchangeable unindexs

In [8]:
#access set items

In [3]:
set1 = {'apple','banana','kiwi'}

In [4]:
set1  #set doesnt contain indexing

{'apple', 'banana', 'kiwi'}

In [5]:
for x in set1:
    print(x)

apple
kiwi
banana

In [6]:
#adding items into set

In [10]:
set1.add('orange')    #only one eliment will be add by using add ffunction

In [11]:
set1

{'apple', 'banana', 'kiwi', 'orange'}

In [12]:
set2= {'madhumitha','shanmugam'}

In [13]:
set1.update(set2)

In [14]:
set1   #it arrange in the alphabatic order

{'apple', 'banana', 'kiwi', 'madhumitha', 'orange', 'shanmugam'}

In [15]:
set3 = {'himabindu'}

In [16]:
set3.update(set1)

In [17]:
set1

{'apple', 'banana', 'kiwi', 'madhumitha', 'orange', 'shanmugam'}

In [19]:
set3

{'apple', 'banana', 'himabindu', 'kiwi', 'madhumitha', 'orange', 'shanmugam'}

In [20]:
#remove items from the set

In [21]:
set3.remove('apple')

In [22]:
set3

{'banana', 'himabindu', 'kiwi', 'madhumitha', 'orange', 'shanmugam'}

In [23]:
set3.discard('apple')   #we can use it in n number of times the error will not occur

In [24]:
set3

{'banana', 'himabindu', 'kiwi', 'madhumitha', 'orange', 'shanmugam'}

In [28]:
for i in set3:
    i = 'banana'
        i.remove()

IndentationError: unexpected indent (<ipython-input-28-05e5d172866a>, line 3)

In [31]:
set4 = set2.union(set3)    #to add a set use union()

In [32]:
set4

{'banana', 'himabindu', 'kiwi', 'madhumitha', 'orange', 'shanmugam'}

In [33]:
set4.clear()   #it clears the entair element

In [34]:
set4

set()

In [35]:
#dictionaries

In [36]:
#we are hacin four inbult data types
#storing the data withe help of a keyy

In [38]:
dict1={'brand':'ford','model':'xuv','year':1999}

In [39]:
dict1

{'brand': 'ford', 'model': 'xuv', 'year': 1999}

In [40]:
dict1['brand']

'ford'

In [42]:
dict1['year'] = 2000   #we can change any items

In [43]:
dict1

{'brand': 'ford', 'model': 'xuv', 'year': 2000}

In [44]:
dict1['colour']= 'blue'    #to add we can  use this method

In [45]:
dict1

{'brand': 'ford', 'model': 'xuv', 'year': 2000, 'colour': 'blue'}

In [46]:
#to add more then two variables
dict1.update({'colour':'red','model':'serden'})

In [47]:
dict1

{'brand': 'ford', 'model': 'serden', 'year': 2000, 'colour': 'red'}

In [49]:
dict1.keys()

dict_keys(['brand', 'model', 'year', 'colour'])

In [51]:
dict1.values()

dict_values(['ford', 'serden', 2000, 'red'])

In [53]:
dict1.popitem()

('colour', 'red')

In [54]:
dict1.get('model')

'serden'

In [55]:
#operaters in python
#arthimetic operators

In [56]:
a = int(input('enter you first number:    '))
b = int(input('enter you first number:    '))
print('sum:',a+b)

enter you first number:    40
enter you first number:    50
sum: 90

In [57]:
a*b

2000

In [58]:
a/b

0.8

In [60]:
a**b

126765060022822940149670320537600000000000000000000000000000000000000000000000000

In [61]:
#logical operaters

In [62]:
#there are thre types of logical operators there are AND OR NOT

In [64]:
#and #any one is flase it gives flase

In [65]:
#or #any one is true it gives true

In [66]:
#not #it revice the true to flase and flase to true

In [67]:
#IDENTITIE OPERATERS [IS AND IS NOT ]

In [70]:
a=int(input('enter you first number:    '))
b=int(input('enter you first number:    '))
print(a is b)

enter you first number:    12
enter you first number:    13
False

In [71]:
#is not

In [72]:
a=int(input('enter you first number:    '))
b=int(input('enter you first number:    '))
print(a is b)
print(a is not b)

enter you first number:    12
enter you first number:    13
False
True

In [3]:
#MEMBERSHIP(IN)

In [4]:
x = ['madhumitha','shanmugam','naickar']
print('kumar' in x)

False

In [5]:
#MEMBERSHIP(NOT IN)

In [6]:
print ('kumar' not in x)

True

In [7]:
#BITWISE OPERATOR

In [8]:
#in bit wise operator we have

In [10]:
var1 = 'madhumitha'
print(id(var1))   #all the values will store in the form of dinary in the system

2344743641520

In [11]:
#conditional statements

In [12]:
#there are thre conditional statements that are it , if else and elif

In [2]:
#find out the odd and even
n = int(input("enter you number :    "))
if n %2==0:
    print('number is even',n)
else:
    print(' number is odd',n)

enter you number :    30
number is even 30

In [ ]:
32//2

In [ ]:
a = 33
b = 33
id a>b:
    print('sum',a+b)
elif a<b;

In [ ]:
#while loop

In [4]:
i = 1
while i<10:
    print(i)
    print('madhu')
    i = i + 1
print('operator complet')

1
madhu
2
madhu
3
madhu
4
madhu
5
madhu
6
madhu
7
madhu
8
madhu
9
madhu
operator complet

In [5]:
i = 1
while i<10:
    print(i)
    print('madhu')
    if i == 6:
        break
    i = i + 1
print('operator complet')

1
madhu
2
madhu
3
madhu
4
madhu
5
madhu
6
madhu
operator complet

In [4]:
i = 1
while i<10:
    i= i + 1
    if i == 6:
        continue
    print(i)
print('operator complet')

2
3
4
5
7
8
9
10
operator complet

In [5]:
#for loop

In [6]:
#it is getting used for iterating over a sequence(list,tuple,range,dict)

In [7]:
fruits=['apple','kiwi','orange']

In [9]:
fruits

['apple', 'kiwi', 'orange']

In [10]:
for i in fruits:
    if (i=='apple'):
        print('a apple a day keep doctor away')
    else:
        print('operation completed')

a apple a day keep doctor away
operation completed
operation completed

In [11]:
for i in fruits:
    print(i)
    if (i=='apple'):
        print('a apple a day keep doctor away')
    else:
        print('operation completed')

apple
a apple a day keep doctor away
kiwi
operation completed
orange
operation completed

In [14]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [15]:
for i in range(11):
    print(i)
    if i == 4:
        break

0
1
2
3
4