In [1]:
#if statement

In [22]:
a = 30
b = 40
if b > a :
    print ('i am inside the if')

i am inside the if

In [4]:
hunger = True
if hunger:
    print("i am hungry")

i am hungry

In [6]:
hunger = False
if hunger:
    print ("feed me")
else:
    print("i am not hungry")

i am not hungry

In [7]:
#elif

In [14]:
a = 30
if a == 20:
    print ("i am in if")
elif a == 30:
    print("i am in elif one")
elif a == 40:
    print("i am in elif two")
elif a == 100:
    print ("i am in elif three")
else:
    print("i am not in condistion")

i am in elif one

In [18]:
age = int(input("enter your age:          "))
if age < 18:
    print('your age not fit for this role')
elif age >= 18 and age <= 60:
        print("your eligible to work here")
else:
    print("plzz collect your pension")

enter your age:          65
plzz collect your pension

In [1]:
#while

In [2]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

In [2]:
i = 1
while i < 6:
    print(i)
    i = i + 1
else:
    print('this statement')

1
2
3
4
5
this statement

In [11]:
i = 0
while i < 6:
    print(i)
    i = i + 1
else:
    print('this is mean')

0
1
2
3
4
5
this is mean

In [6]:
n = 5
i = 1 ; j = 0
while(i<=n):
    while(j<=i-1):
        print("* ", end=" " )
        j+=1
    print("\r")
    j = 0; i += 1

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *

In [1]:
n = 5; i = 0
while(i<=n):
    print(" " * (n - i) + "*" * i)
    i = i + 1

    *
   **
  ***
 ****
*****

In [7]:
lists = [1,2,3,4,5]

In [8]:
for i in lists:
    print(i)

1
2
3
4
5

In [9]:
lists

[1, 2, 3, 4, 5]

In [1]:
#WHILE LOOP

In [4]:
i = 1
while i < 6:
    print(i)
    i = i + 1

In [5]:
n = 5
i =1 
while (i<=n): #here is the condition that how many times we want to exicut the loop
    j = 1
    while(j<=i):
        print("*" , end = " ")
        j+=1
    print() 
    i = i+1

*
* *
* * *
* * * *
* * * * *

In [6]:
n=5
#outer loop
for i in range(n):
    #nested loop
    for j in range(i+1):
        #d
        print(1+i,end="")
    print()

1
22
333
4444
55555

In [7]:
count = 0 

while count < 3:
    print("inside loop")
    count = count + 1
else:
    print('outside loop')

inside loop
inside loop
inside loop
outside loop

In [12]:
num = 35

count =1
print('The multiplication of table of ',num)
while count <= 10:
    ans = num * count
    print(num,'x',count,'=',ans)
    count = count + 1

The multiplication of table of  35
35 x 1 = 35
35 x 2 = 70
35 x 3 = 105
35 x 4 = 140
35 x 5 = 175
35 x 6 = 210
35 x 7 = 245
35 x 8 = 280
35 x 9 = 315
35 x 10 = 350

In [9]:
vowel_count = 0

consonent_count = 0


string = "This is my first Interview";
string = string.lower()

for i in range(0,len(string)):
    
    if string[i]in ('a','e','i','o','u'):
        
        vowel_count = vowel_count + 1;
        
    elif (string[i]>= 'a' and string[i] <= 'z'):
        
        consonent_count = consonent_count + 1
        
print('The count of the vowels are',vowel_count)

print('the count of the consonents are',consonent_count)

The count of the vowels are 7
the count of the consonents are 15

In [1]:
i = 8
while i < 10:
    print(i)
    i = i+ 1

8
9

In [1]:
number = 8
row = 1
while (row <= number):
    star = 1
    while (star <= row):
        print('*', end =" ")
        star = star+ 1
    print()
    row = row+1

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *

In [13]:
count = 1

while count< 3 :
    print("inside the loop")
    count = count + 1
else:
    print("out side the loop")

inside the loop
inside the loop
out side the loop

In [13]:
i = 1
while i < 10:
    print(i)
    def emp_func():
        pass
    i = i+ 1

1
2
3
4
5
6
7
8
9

In [10]:
for i in range(1,11):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [ ]:
i = 5
n

In [3]:
n = 5
i = 0
while(i<=n):
    print(" " * (n - i) + "*" * i)
    i = i + 1

    *
   **
  ***
 ****
*****

In [10]:
number = 8
row = 1
while (row <= number):
    star = 1
    while (star <= row):
        print('*' ,end = " " ) 
        star = star+ 1
    print()
    row = row+1

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *

In [3]:
n = 8
i = 1
while i<= n:
    j = n
    while j>= i:
        print("*", end = " ")
        j =j-1
    print()
    i = i+1

* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [8]:
col = 5
row = 0
while (row <= col):
    num = 0
    while(num < row):
        print(num + 1, end=" ")
        num = num + 1
    print()
    row = row + 1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [4]:
number = 8
row = 1
while (row <= number):
    star = 1
    while (star <= row):
        print('*' ,end = " " ) 
        star = star+ 1
    print()
    row = row+1
n = 9
i = 1
while i<= n:
    j = n
    while j>= i:
        print("*", end = " ")
        j =j-1
    print()
    i = i+1

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [5]:
num = int(input("enter the table number:     "))
count = 1
print("this is the myltiplication of ",num)
while (count<=10):
    ans = num * count
    print(num,'X',count,'=',ans)
    count= count+1

enter the table number:     65
this is the myltiplication of  65
65 X 1 = 65
65 X 2 = 130
65 X 3 = 195
65 X 4 = 260
65 X 5 = 325
65 X 6 = 390
65 X 7 = 455
65 X 8 = 520
65 X 9 = 585
65 X 10 = 650

In [9]:
col = 5
row = 0
while(row<=col):
    num = 0
    while(num < row):
        print(num + 1, end = " ")
        num = num+1
    print()
    row = row + 1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [9]:
lists = ['apple','banana','mango']
for i in lists:
    print(i)

apple
banana
mango

In [10]:
specific = ['red','yellow','green']
for j in specific:
    for i in lists:
        print(j,i)

red apple
red banana
red mango
yellow apple
yellow banana
yellow mango
green apple
green banana
green mango

In [11]:
vowel_count = 0

consonent_count = 0


string = "This is my first Interview"
string = string.lower()

for i in range(0,len(string)):
    
    if string[i]in ('a','e','i','o','u'):
        
        vowel_count = vowel_count + 1
        
    elif (string[i]>= 'a' and string[i] <= 'z'):
        
        consonent_count = consonent_count + 1
        
print('The count of the vowels are',vowel_count)

print('the count of the consonents are',consonent_count)

The count of the vowels are 7
the count of the consonents are 15

In [12]:
lists = [1,2,3,4,5,6]
converting_list = tuple(lists)
print(converting_list)

(1, 2, 3, 4, 5, 6)

In [13]:
type(lists)

list

In [15]:
type(converting_list)

tuple

In [ ]:
|