In [4]:
print([i.lower() for i in 'PYTHON'])

['p', 'y', 't', 'h', 'o', 'n']

In [5]:
i = 'PYTHON'

In [6]:
print([i.lower()])

['python']

In [ ]:
#FORMAT IS A IN-BULT FUNCTION PYTHON WHICH COMES WITH {} TO ADRESS SOME IMFORMATION IN THAT J{ JTO THE CODE

In [17]:
#formating
#(single formater)
print("{} A computer scince portal for greeks ".format("greeks for greeks"))
str = 'This artical was written in {}'
print(str.format('python'))
print('hello i am {} years old!' .format(18))

greeks for greeks A computer scince portal for greeks
This artical was written in python
hello i am 18 years old!

In [19]:
print('my self madhumitha shanmugam i am studying in {} degree college'.format('sdhr'))
str = 'i am a python {}'
print(str.format('programmer'))
print('and started programming in my elear {}'.format(17))

my self madhumitha shanmugam i am studying in sdhr degree college
i am a python programmer
and started programming in my elear 17

In [23]:
#string format with multiple place hoders



#MULTIPLE PLACE HOLDERS IN FORMAT FUNCTION
my_string =(' My self {} and I am pursuing degree {} at {} degree and pg college ')
print(my_string.format('Madhumitha shanmugam', '2nd year', 'SDHR'))
#DIFFERENT DATA TYPEprint('{0} love {1}!'. format('Madhu','HYDERBAD'))
S ARE USING IN THE FORMATING
print('I am {} years old and i love {}'.format(18, 'coding'))
#THE VALUES PASSED AS A PARAMETER ARE REPLACED IN THE ORDER OF THERE ENTERY
print("i am very intersted to learn {} {} {}".format('python,','web development,','AWS'))

 My self Madhumitha shanmugam and I am pursuing degree 2nd year at SDHR degree and pg college
I am 18 years old and i love coding
i am very intersted to learn python, web development, AWS

In [1]:
#formating with there positional argument


#POSITIONAL ARGUMENTS ARE REPLACED IN ORDER
print('{0} love {1}!'. format('Madhu','HYDERBAD'))
#REVERSE THE INDEX NUMBERS WITH THE PARAMETERS OF THE PLACEHOLDERS
print('{1} love {0}!'. format('Madhu','HYDERBAD'))
print('i want to leave {} {}'.format('Financially','Independent'))
print('i am will to start bussness in {hyd}'.format(hyd="HYDERBAD"))

Madhu love HYDERBAD!
HYDERBAD love Madhu!
i want to leave Financially Independent
i am will to start bussness in HYDERBAD

In [11]:
Madhumitha is True
if Madhumitha == True:
    print('hi Madhumitha!')

hi Madhumitha!

In [13]:
num = 100
if num < 200:
    print('your wrong')

your wrong

In [17]:
num = 100
if num < 20:
    print('your worng!')
else:
        print('your currect')

your currect

In [21]:
fine is True
if fine == fine:
    print("it's goods")

it's goods

In [1]:
num = 100  
if num < 10:
    print('wow')
else:
    print('dabba')

dabba

In [1]:
a = int(input('what is your luckly number :   '))
b = int(input('what is your role number:   '))

what is your luckly number :   9
what is your role number:   10

In [2]:
if a<b:
    print('its cool')
else:
    print("its okay")

its cool

In [6]:
abc = str(input('what is your name:    '))

what is your name:    madhu

In [10]:
#i else statements 
hungry = True
if hungry:
    print('feed me')

feed me

In [12]:
hungry=False
if hungry :
    print('feed me!')
else:
    print('i am not hungry')

i am not hungry

In [13]:
a = 100
b = 200
c = 300

In [18]:
if a<b:
    print("it's a small value")

it's a small value

In [19]:
if a == b:
    print('its wrong')
else:
    print ("give the currect input")

give the currect input

In [20]:
if a + b == 300:
    print('your good')
else:
    print('poee saychipooo')

your good

In [22]:
if b - a == 10:
    print("super papa !")
else:
    print('addistions kuda rava niku')

addistions kuda rava niku

In [1]:
age = int(input("what is your age :  "))

what is your age :  19

In [2]:
if 18 < age:
    print('your are eligible')
else:
    print('your are not eligible')

your are eligible

In [3]:
num = 3

In [5]:
if num > 0:
    print(num," this is the positive value")
else:
    print(num ,"this is the negative value")

3  this is the positive value

In [14]:
m = 100
if m == 150:
    print(m, 'this is not a currect value')
elif m == 50:
    print(m, "this is not your expected value")
elif m == 250:
    print(m,'print the currect value')
elif m ==100:
    print(m, 'this is your expected value')
else:
    print(m,'better luck next time')

100 this is your expected value

In [15]:
abc = str(input("are you hungry:               "))

are you hungry:               yes

In [7]:
loc='Autoshop'
if loc=='Autoshop':
    print('o my god')
elif loc =='bank':
    print('money is cool')
elif loc =='store':
    print('over loded')
else:
    print('i dont know to munch')

o my god

In [8]:
madhu = 'shanmugam'
if madhu == 'mitha':
    print('it is not your full name')
elif madhu =='shanmugam':
    print(' hi madhumitha shanmugam')
else:
    print('give me some correct input')

 hi madhumitha shanmugam

In [7]:
num = 3.5
if num < 0:
    print('it is a positive value')
elif num == 0:
    print('its value is zero')
else:
    print('it is a negative value')

it is a negative value

In [9]:
madhu = float(input("enter the value :    "))
if madhu >= 0:
    if madhu ==  0 :
        print('its a best try')
    else:
        print('okay yarrrr')
else: 
    print('better luck next time')

enter the value :    5
okay yarrrr

In [10]:
m = 10
if m < 50:
    if m < 25:
        print('its below 25')
    else:
        print('its above 25')
else:
    print('hammmayaaa')

its below 25

In [11]:
abc = 50
if abc == 20:
    if abc > 100:
        print ('its just an abc')
    else:
        print('abc is not printing')
else:
    print('musicians kotandi amma')

musicians kotandi amma

In [18]:
madhu = 50
if madhu <= 50:
    print('she can buy a chocolate')
else:
    print('she should beg some money from her father')

she can buy a chocolate

In [19]:
madhu = 50
if madhu == 50:
    if madhu < 20:
        print('dabhullu sare polay')
    else:
        print('challu challlu challu')
else:
    print('okay ma sukanga vundu')

challu challlu challu

In [22]:
#for loop statement
fruits = ('banana','apple','orange')
for fruit in fruits:
    print(fruit)

banana
apple
orange

In [25]:
for x in range(0):
    print(x)

In [27]:
for x in range(2, 30, 3):
    print(x)

2
5
8
11
14
17
20
23
26
29

In [32]:
for x in range (9):
    print(x)
    break
else:
    print('it is not the excate value')

0

In [37]:
for x in range (6):
    if x == 3: break
    print(x)
else:
        print('ayyo')

0
1
2

In [46]:
for x in range(19):
    if x == 20:
        print(x)
else:
    print('its okay')

its okay

In [2]:
for x in range(2):
    if x == 2:
        print ('it is the highst value')
    elif x== 21:
        print('it is the best value')
    else:
        print('it is the over value')

it is the over value
it is the over value

In [13]:
number = [5,1]
sum = 9 
for i in number:
    sums = sum + i
print('the sum is =', sums)

the sum is = 10

In [17]:
#while loop 
abc = 0
while (abc < 5):
    abc = abc + 1
    print(abc)

1
2
3
4
5

In [18]:
a = [1,2,3,4,5,6]
while a:
    print(a.pop())

6
5
4
3
2
1

In [19]:
a

[]

In [ ]:
#single statement while block
count = 0
while (count < 5): count += 1 ; print('hello madhu')

In [ ]:
i = 0
a = 'madhumitha shanmugam'