In [1]:
                                        #examples

In [2]:
"hello"

'hello'

In [3]:
'world'

'world'

In [4]:
"I'am going to run"

"I'am going to run"

In [5]:
print('hello')

hello

In [6]:
"hello world one"
"hello world two"

'hello world two'

In [7]:
print("hello world one")
print("hello world two")

hello world one
hello world two

In [8]:
print("hello \nworld")

hello
world

In [9]:
print("hello\tworld")

hello	world

In [10]:
                                                    #length

In [11]:
len("hello")

5

In [12]:
madhu="this is my first example"

In [13]:
len(madhu)

24

In [14]:
                                                  #indexing
    #the first position starts with 0 second position starts with 1 and last postion end with (n-1)
    #Indexing in python is a way to refer the individual items within an iterble by its position

In [1]:
mystring="hello world"

In [16]:
mystring

'hello world'

In [17]:
mystring[5]   #it represents the space

' '

In [18]:
mystring[1]

'e'

In [19]:
mystring[-1]

'd'

In [20]:
mystring[-2]

'l'

In [21]:
mystring[2:]

'llo world'

In [22]:
mystring[:1]

'h'

In [23]:
mystring[:2]

'he'

In [24]:
mystring[-1:]

'd'

In [25]:
mystring[-2:]

'ld'

In [26]:
mystring[::-1]

'dlrow olleh'

In [27]:
mystring[::]

'hello world'

In [28]:
#slicing syntax:[start:stop:step] example:

In [2]:
mystring[2:7:3]

'l '

In [30]:
mystring[2:7:2]

'low'

In [31]:
#to replace (by slicing)

In [4]:
name='bindhu'

In [6]:
name

'bindhu'

In [8]:
name[:3]

'bin'

In [35]:
friend=name[3:]

In [36]:
friend

'dhu'

In [37]:
'ma'+friend

'madhu'

In [38]:
name='bindhu'

In [39]:
friend=name[3:]

In [40]:
'ma'+friend

'madhu'

In [41]:
#to add

In [42]:
x="madhu"

In [43]:
"bindhu"+x

'bindhumadhu'

In [44]:
x+" bindhu"

'madhu bindhu'

In [45]:
# to multiply

In [46]:
letter="madhu "

In [47]:
letter * 10

'madhu madhu madhu madhu madhu madhu madhu madhu madhu madhu '

In [48]:
#to upper case (.upper())

In [49]:
x='hello world'

In [50]:
x.upper()

'HELLO WORLD'

In [51]:
#split method (.split())

In [52]:
x.split()

['hello', 'world']

In [53]:
x="this is my first programe"

In [54]:
x.split('i')

['th', 's ', 's my f', 'rst programe']

In [9]:
print('my self {}{}{}'.format(' madhu','mitha',' shanmugam')) #formattig

my self  madhumitha shanmugam

In [56]:
print('my self{2}{0}{1}'.format( 'madhu','mitha',' shanmugam'))

my self shanmugammadhumitha

In [57]:
                                            #flot formatting

In [58]:
                                   #follows"{value:width.precision}"

In [11]:
result=100/777

In [12]:
result

0.1287001287001287

In [13]:
print("the result was{r}".format(r=result))

the result was0.1287001287001287

In [17]:
result = 9087654321/123

In [21]:
print("the result was {r:0.8f}".format(r=result))#in this the one indicates the wirdth 
                                                 #3f indicates the size of the value

the result was 73883368.46341464

In [64]:
                                     #.format also replaces with f string

In [65]:
name= "madhu"

In [66]:
print('Hello, her name is {}'.format(name))

Hello, her name is madhu

In [67]:
print(f'Hello, her name is {name}')

Hello, her name is madhu

In [68]:
name="madhu"
age=18

In [69]:
print(f'my self {name} and my age is {age}.')

my self madhu and my age is 18.

In [70]:
print(f' my self {name} and my age is {age}.')

 my self madhu and my age is 18.

In [71]:
                                                      #lists in python

In [72]:
my_list=[1,2,3]

In [73]:
len(my_list)

3

In [74]:
my_list[0]

1

In [75]:
my_list[1:]

[2, 3]

In [76]:
my_list

[1, 2, 3]

In [77]:
 #to concatenate

In [78]:
another_list=[4,5]

In [79]:
new_list=my_list+another_list

In [80]:
new_list

[1, 2, 3, 4, 5]

In [81]:
madhumitha=[1,2,3,4,]              #to concatenate

In [82]:
shanmugam=[5,6,7,8]

In [83]:
name=madhumitha + shanmugam

In [84]:
name

[1, 2, 3, 4, 5, 6, 7, 8]

In [85]:
                #to rename (or) to chane the value

In [86]:
name[0]='one'

In [87]:
name

['one', 2, 3, 4, 5, 6, 7, 8]

In [88]:
name[1]='two'

In [89]:
name

['one', 'two', 3, 4, 5, 6, 7, 8]

In [90]:
         #to remove the item at the end (by using .pop() method)

In [91]:
name.pop()

8

In [92]:
           #to remove at the pertcular position (by using( .pop(position of the list)) method)

In [93]:
name.pop(6)

7

In [94]:
                                            #sorting

In [95]:
list=[5,4,6,3,7,2,8,1,]

In [96]:
list.sort()

In [97]:
list

[1, 2, 3, 4, 5, 6, 7, 8]

In [98]:
#to reverse

In [99]:
m=[1,2,3,4,5,6,7,8,9,0]

In [100]:
m.reverse()

In [101]:
m

[0, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [102]:
                                                    #dictionaries

In [103]:
my_self={'key1':'value1','key2':'value2'}

In [104]:
my_self

{'key1': 'value1', 'key2': 'value2'}

In [105]:
my_self['key1']

'value1'

In [106]:
priceses={'apple':'100','mango':'50','banana':'25'}

In [107]:
priceses

{'apple': '100', 'mango': '50', 'banana': '25'}

In [108]:
priceses['apple']

'100'

In [109]:
priceses['banana']

'25'

In [110]:
priceses['mango']

'50'

In [111]:
d={'k1':'123','k2':[1,2,3],'k3':{'inside_value':100}}   #formating

In [112]:
d['k1']

'123'

In [113]:
d['k2']

[1, 2, 3]

In [114]:
d['k2'][0]

1

In [115]:
d['k2'][1]

2

In [116]:
d['k2'][2]

3

In [117]:
d['k3']

{'inside_value': 100}

In [118]:
d['k3']['inside_value']

100

In [119]:
                                        # to change to upper case

In [120]:
d={'key1':['a','b','c']}

In [121]:
d['key1'][0].upper()

'A'

In [122]:
d['key1'][1].upper()

'B'

In [123]:
d['key1'][2].upper()

'C'

In [124]:
                                        # to add thye value

In [125]:
d={'k1':100,'k2':200}

In [126]:
d

{'k1': 100, 'k2': 200}

In [127]:
d['k3']=300

In [128]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [129]:
                                       # to change the value

In [130]:
d['k1']='600'

In [131]:
d

{'k1': '600', 'k2': 200, 'k3': 300}

In [132]:
                                # to check the all the key values

In [133]:
d

{'k1': '600', 'k2': 200, 'k3': 300}

In [134]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [135]:
d.values()

dict_values(['600', 200, 300])

In [136]:
                                                  #tuple

In [137]:
t=[1,2,3]

In [138]:
my_list=[1,2,3]

In [139]:
type(my_list)

list

In [140]:
len('t')

1

In [141]:
#we can count the repeated variables in triples

In [142]:
t=('a','a','b')

In [143]:
t

('a', 'a', 'b')

In [144]:
t.count('a')

2

In [145]:
                                              #sets in python

In [146]:
mylist=[1,1,1,1,1,2,2,2,2,2,3,3,3,3,4,4,4,4,4]

In [147]:
mylist

[1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4, 4]

In [148]:
myset=[1,1,1,1,1,2,2,2,2,3,3,3,3,4,4,4,4]

In [149]:
myset

[1, 1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4]

In [150]:
set(myset)

{1, 2, 3, 4}

In [151]:
                        #booleans it is used to find the true or flase statement

In [152]:
1<2

True

In [153]:
1>2

False

In [154]:
1==1

True

In [155]:
                                                    #files

In [156]:
#(this method is only applicable in jupytor notebook)

In [157]:
%%writefile myfile.txt
Hello this the text file 
this is the second line

Overwriting myfile.txt

In [158]:
myfile = open('myfile.txt')

In [159]:
pwd

'C:\\Users\\bhara\\pyex\\madhu examples'

In [160]:
myfile.read()

'Hello this the text file \nthis is the second line\n'

In [161]:
myfile.read() #we cant read again and again because the cursur as moved at the end of the line to rearrange the line we want to 
               #use seek(0)

''

In [162]:
myfile.seek(0)

0

In [163]:
myfile.read()

'Hello this the text file \nthis is the second line\n'

In [164]:
myfile.seek(0)

0

In [165]:
contans = myfile.read()

In [166]:
contans

'Hello this the text file \nthis is the second line\n'

In [167]:
contans

'Hello this the text file \nthis is the second line\n'

In [168]:
myfile.seek(0)

0

In [169]:
myfile.readlines()

['Hello this the text file \n', 'this is the second line\n']

In [170]:
myfile

In [171]:
myfile.seek(0)

0

In [172]:
myfile.readlines()

['Hello this the text file \n', 'this is the second line\n']

In [173]:
                                             #file location

In [174]:
pwd

'C:\\Users\\bhara\\pyex\\madhu examples'

In [175]:
with open('myfile',mode='r')

SyntaxError: invalid syntax (<ipython-input-175-c2f44b29d6af>, line 1)

In [ ]:
#to add to the file(by using append)

In [ ]:
pwd   #this is used to know the location where the code is stored

In [ ]:
#comprision operator in python

In [ ]:
2==2

In [ ]:
2==1

In [ ]:
'hello'=='bye'

In [ ]:
'Bye'=='bye'

In [ ]:
'bye'=='bye'

In [ ]:
'2'==2

In [ ]:
2.0==2

In [ ]:
3!=3

In [ ]:
4!=3

In [ ]:
1<2

In [ ]:
1>2

In [ ]:
2<5

In [ ]:
2>=2

In [ ]:
4<=1

In [ ]:
                #chanining comparison operators in python with logical operator (and,or,not)

In [ ]:
1<2<3

In [ ]:
1<2>3

In [ ]:
1<2 and 2<3  #both should be true

In [ ]:
'h'=='h'and'2'=='2'

In [ ]:
1==1 or 2==2  #any of one value should be true

In [ ]:
not 400>5000

In [ ]:
not 1==1    #it is in equal it shows not equal if it is in equal it shows equal it shows not equal

In [ ]:
not 1==2

In [ ]:
            #if,elif,else statement in python

In [ ]:
if True:                                  #if statement
    print('ITS TRUE!')

In [ ]:
hungry=True
if hungry:
    print('feed me')

In [ ]:
hungry=False
if hungry:
    print('feed me')

In [ ]:
#if else statement

In [ ]:
hungry=False
if hungry:
    print('feed me')
else:
    print('i am not hungry')

In [ ]:
loc='Autoshop'
if loc=='Autoshop':
    print('o my god')
elif loc =='bank':
    print('money is cool')
elif loc =='store':
    print('over loded')
else:
    print('i dont know to munch')

In [ ]:
name='madhu'
if name=='kumar':
    print('good moring kumar')
elif name=='bujji':
    print('good morning bujji')
elif name=='chandini':
    print==('hello chandini')
elif name=='madhu':
    print('hello madhu')
else:
    print('i dont know')

In [ ]:
                                                  #for loops

In [ ]:
#my_iterable=[1,2,3,4,5,6,7,8,9,10]
       #for item_name in my_iterable:
       #print(item_name)

In [ ]:
mylist = [1,2,3,4,5,6,7,8,9,10]
for num in mylist:
    print(num)

In [ ]:
#replacing variables to string

In [ ]:
for num in mylist:
    print('hello')

In [ ]:
#to check the even numbers 
for num in mylist:
    if num % 2 == 0:
        print (num)

In [ ]:
#to diplay even numbers
for num in mylist:
    if num  % 2 == 0:
        print(f'even number : {num}')

In [ ]:
#exiguting tally
list_sum = 0
for num in mylist:
    list_sum = list_sum + num
    print (list_sum)

In [ ]:
list_sum = 0
for num in mylist:
    list_sum = list_sum + num
print (list_sum)

In [ ]:
#truples in for loop statement
mylist = [(1,2),(3,4),(5,6)]
len(mylist)

In [ ]:
for iteam in mylist:
    print(iteam)

In [ ]:
for a,b in mylist:
    print(a)
    print(b)

In [ ]:
                                                   #while statement 
                       #continue ro execute the same block fo code untill it remains true

In [ ]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x = x + 1

In [ ]:
#Break , continue , Pass statements (this are addistional fuction of various statements )
#Break = break the current closest encloses loop
#continoue = Goes to the top of the current closest enclosing loop
#pass = does noting at all

In [ ]:
                                                 #break

In [ ]:
mystring = 'madhu'

In [ ]:
for letter in mystring:
    if letter == 'a':
        break
    print(letter)   #position of the print is important

In [ ]:
mystring = 'madhumitha'                       #continue

In [ ]:
for letter in mystring:
    if letter == 'i':   #it removes the letter and go back to the string
        continue
    print(letter)  #position of the print is important

In [ ]:
x = [1,2,3]

for item in x:
    pass    #this used to stop the syntax error after using :
print ('end of my script')

In [ ]:
                                     #useful operators in python
  #range(start:stop:step)
  #examples

In [ ]:
#range(stop)
mylist = [1,2,3,4,5,6,7]

In [ ]:
for num in range(10):
    print(num)  #this shows the starting number of the index and until (n-1)(like slicing)

In [ ]:
#range(start,stop)
for num in range(0,10):
    print(num)

In [ ]:
#range(start,stop,step)
for num in range(0,10,2):
    print(num)

In [ ]:
list (range(0,10,2))

In [ ]:
#enumerte   (without using the enuerate function)
index_count = 0

for letter in 'abcde':
    print ('At index{} the letter is {}'.format(index_count,letter))
    index_count =+ 1

In [ ]:
#with using the fuction

letter = 'abcdefg'
for item in enumerate(letter):#this is the easy method which shows the truples 
    print(item)

In [ ]:
#we can also do truple unpacking
letter = 'abcdefg'
for index,letters in enumerate(letter):
    print(index)
    print(letters)
    print('\t')

In [ ]:
#zip fuction
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
for iteam in zip(mylist1,mylist2):
    print(iteam)

In [ ]:
list (zip(mylist1,mylist2))

In [ ]:
#'in'operaters
#this shows the boolen statements which are in true or flase sratements
'mykey' in {'mykey':145}

In [ ]:
#methemetical fuctions (this shows the min and max values of the intigers)
mylist = [10,20,30,40,50,100]

In [ ]:
max(mylist)

In [ ]:
min(mylist)

In [ ]:
#input function
input('Enter a number hear : ') #this shows in the string

input('what is your name : ')

In [ ]:
#to show in floating or intier we want to use flot or int statements
result =input('what is your age : ')

In [ ]:
int (result)

In [ ]:
float(result)

In [ ]:
                                        #list comprehensions
    
#this list comprehensions are the unique way of quick creating a list with python
#if we create a for loop along with we want to use  .append() operater 
mystring = 'hello'
mylist = []
for letter in mystring:
    mylist.append(letter)    #replacing the elements

In [ ]:
mylist

In [ ]:
#or (the simple way)
mylist = [letter for letter in mystring]

In [ ]:
mylist

In [ ]:
mylist = [x for x in 'word']

In [ ]:
mylist

In [ ]:
#in range()
mylist = [num for num in range(0,11)]

In [ ]:
mylist

In [ ]:
#to find in squires (x*2)
mylist = [num**2 for num in range(0,11)]

In [ ]:
mylist

In [ ]:
#to check the even numbers in boolean statements
mylist = [num%2==0 for num in range (0,11)]

In [ ]:
mylist

In [ ]:
mylist = [num for num in range(0,11) if num%2==0]

In [ ]:
mylist

In [ ]:
#for division ,addistion and  multiplications
#example
celcius = [0,10,20,34.5]

In [ ]:
fahrenheit = [((9/5) * temp + 32 ) for temp in celcius]

In [ ]:
fahrenheit

In [ ]:
#if else if statement
result = [x if x%2==0 else 'not even' for x in range (0,11)]

In [ ]:
result

In [ ]:
#nested loop
mylist = []
for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [ ]:
mylist

In [ ]:
# or
mylist = [x*y for x in [10,20,30] for y in [10,20,30]]

In [ ]:
mylist

In [ ]:
#methods in python
#there are mainly 10 methods in python there are
#.clear() .copy() .extend() .index()  .insert()  .pop()  .remove()  .reverse()   .sort()  
#.append()

In [ ]:
mystring = [1,2,3,4]

In [ ]:
mystring.clear()   #it shows the empty string

In [ ]:
mystring

In [ ]:
mystring = [1,2,3,4,5]

In [ ]:
mystring.copy()  #it copys the string

In [ ]:
mystring = [1,2,3,4]

In [ ]:
mystring.extend([5,6])  #it used to extend the string

In [ ]:
mystring

In [ ]:
mystring = [1,2,3,4,5]

In [ ]:
mystring.index(1)  #to know the position of the string

In [ ]:
mystring.index(5)

In [ ]:
mystring = [1,2,3,4,5,6]

In [ ]:
mystring.insert(5,'madhu')   #to insert the string by using the position

In [ ]:
mystring

In [ ]:
mystring = [1,2,3,4]

In [ ]:
mystring.pop(0)   #to remove the string by using posistion

In [ ]:
mystring = [1,2,3,4,5,6]

In [ ]:
mystring.remove(2)   #to remove only one string

In [ ]:
mystring

In [ ]:
mystring = [1,2,3,4,5,6,7]

In [ ]:
mystring.reverse()  #to reverse the string

In [ ]:
mystring

In [ ]:
mystring = [4,7,8,1,2]

In [ ]:
mystring.sort() #sorting

In [ ]:
mystring

In [ ]:
mystring = [1,2,3,4]

In [ ]:
mystring.append([5,6,7])

In [ ]:
#def keyword
#syntax:def name_of _function():

In [ ]:
def say_hello():
    print("hello")   #exigution of the singel code

In [ ]:
say_hello()

In [ ]:
def madhu():
    print("my")
    print("self")
    print("madhumitha shanmugam")  #exigutin a block of code

In [ ]:
madhu()

In [ ]:
#using f string
def madhu(name):
    print(f'hello {name}')

In [ ]:
madhu("madhumitha")

In [ ]:
#or
def madhu(name = "madhumitha Shanmugam"):
    print(f'hello {name}')

In [ ]:
madhu()

In [ ]:
#by using return function
# return instad of just printing out the result , it actually going to allow you to save them as a variable

In [ ]:
def add_num (num1 , num2):
    return num1 + num2

In [ ]:
result = add_num(10,20)

In [ ]:
result

In [ ]:
#by adding the string
def my_values (num1, num2):
    return num1 + num2

In [ ]:
values = my_values('10','20')

In [ ]:
values

In [ ]:
#logic of python fuction
def even_check (number):
    result = number % 2 == 0
    return result

In [ ]:
even_check(20)

In [ ]:
even_check(5)

In [ ]:
even_check(12)

In [ ]:
#Return true if any number i even insie a list by using if else statement
def check_even_in_list (num_list):
    for number in num_list:
        if number % 2 == 0:
            return True
    else:
        pass #pass is a place holer it helps to avoid the syntax

In [ ]:
check_even_in_list([1,3,5])

In [ ]:
check_even_in_list([1,2,3])

In [ ]:
#to know true or flase statement
def check_even(num_list):
    for number in num_list:
        if number % 2 == 0:  #if the first num is even it prints true or flase
            return True
        else:
            pass
        return False

In [ ]:
check_even([1,3,5])

In [ ]:
check_even([1,2,3])

In [ ]:
check_even([2,7,3])

In [ ]:
#functions and tuple unpacking
stock_prices = [('apple',200),('mangoes',300),('banana',100)]

In [ ]:
for item in stock_prices:
    print(item)

In [ ]:
#tuple unpacking
for fruit , price in stock_prices:
    print(price)

In [3]:
#*args and **kwards
def myfunc (a,b):
    #return 5%of the sum of a, b
    return sum((a,b))*0.05

In [5]:
myfunc(40,60)

5.0

In [7]:
                                  #by using *args function
def myfunc (*args):
    return sum (args)*0.05

In [9]:
myfunc(40,60,100,1,34)

11.75

In [39]:
def myfunc (*args):
    for item in args:
        print(item)

In [41]:
myfunc(40,60,100,)

40
60
100

In [29]:
#by using kwargs 
def myfunc(**kwargs):
    if 'fruit' in kwargs:
        print('my fruit of choice is {}' .format(kwargs[fruit]))
    else:
        print('I did not find fruit here')

In [34]:
myfunc(fruit='apple')

KeyError: 'apple'

In [48]:
                     #lamda expression using map and filter function
#maps
def square (num):
    return num ** 2

In [49]:
mynums = [1,2,3,4,5,6,7,8,9]

In [45]:
map(square,mynums)  #this shows the location where the variables are stored

In [53]:
for item in map(square,mynums):    #you can pass one or more iterable
    print(item)

1
4
9
16
25
36
49
64
81

In [54]:
#to represent as a list
list(map(square,mynums))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [56]:
#to represent in the form of str
def splicer(mystring):
    if len (mystring) % 2 == 0:
        return 'EVEN'
    else:
        return mystring[0]

In [57]:
names = ['ANDY','EVE','SALLY']

In [59]:
list(map(splicer,names))

['EVEN', 'E', 'S']

In [3]:
#filter 
def check_even(num):
    return num % 2 == 0

In [5]:
mynums = [1,2,3,4,5,6,7,8,9]

In [7]:
for item in filter(check_even,mynums):
    print(item)

2
4
6
8

In [8]:
list(filter(check_even,mynums))

[2, 4, 6, 8]

In [9]:
#for squires
def square (num):
    return num ** 2

In [11]:
square(3)

9

In [1]:
#lambda
# A lambda function is a small anonymous function .A lambda function can take any number
#of arguments, but can oly have one expression

In [3]:
square = lambda num : num ** 2  #n power 2

In [5]:
square(5)

25

In [8]:
square(9)

81

In [10]:
my_nums = [1,2,3,4,5,6,7,8,9]

In [14]:
list(filter(lambda num : num % 2 == 0 , my_nums))

[2, 4, 6, 8]

In [16]:
list(map(lambda num :num ** 2,my_nums))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [18]:
list(map(lambda num : num % 2 == 0 , my_nums))

[False, True, False, True, False, True, False, True, False]

In [20]:
list(filter(lambda num :num ** 2,my_nums))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
set(filter(lambda num :num ** 2,my_nums))

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [24]:
tuple(filter(lambda num :num ** 2,my_nums))

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [26]:
#nested statement and scope 
x = 25    #golbal
def printer(): 
    x = 50    #local
    return x

In [28]:
print(x)

25

In [32]:
print(printer())

50

In [33]:
#global allows you to modify the variable outside of the scope
# A varianble declared inside the fuction is called local function
#python always fellows yhe LEGB rule  
#the LEGB stands for Local , Enclosing , Global , Bult-in-function

In [35]:
lambda num : num ** 2  #this shows the function type

In [5]:
name = 'THIS IS MY GLOBAL STRING'

def greet(): #no argument
    
    name = 'madhu'   #local
    
    def hello():        #functtion
        
        print('hello' + name)  #function
        
    hello()

In [6]:
greet()

hellomadhu

In [9]:
#GLOBAL
name = 'THIS IS A GLOBAL STRING'

def greet():
    #ENCLOSING
    name = 'madhu'
    
    def hello():
        #LOCAL
        print ('Hello' + name)
        
        hello()