***1. print all the number which is divisible by 7 in the given list***

In [1]:
a=[7,14,21,88,56]

In [6]:
sum=0
i=0
while i<len(a):
    if a[i]%7==0:
        sum+=a[i]
    i+=1
print(sum)

98

***2.print only numbers in the list***

In [8]:
b=input("enter a str:  ")
i=0
while i<len(b):
    if "0"<=b[i]<="9":
        print(b[i],end="")
    i+=1

enter a str:  bharath2000
2000

***3.print hello world***

In [3]:
b="hello world"
i=0
while i<5:
    i+=1
    print(b)

hello world
hello world
hello world
hello world
hello world

In [4]:
len(b)

11

***product of even num b/w the range m to n***

In [15]:
m=1
n=10
p=1 
while m<n:
    print(f"this is before p {p}")
    p=p*m
    print(p)
    m+=1
    print(f'this is m {m}')

this is before p 1
1
this is m 2
this is before p 1
2
this is m 3
this is before p 2
6
this is m 4
this is before p 6
24
this is m 5
this is before p 24
120
this is m 6
this is before p 120
720
this is m 7
this is before p 720
5040
this is m 8
this is before p 5040
40320
this is m 9
this is before p 40320
362880
this is m 10

***4.print the given op***

In [22]:
a="hello world"
b={}
i=0
while i<len(a):
    b[a(i)]=i
    i+=1
print(b)

TypeError: 'str' object is not callable

In [26]:
for i in enumerate(a):
    print(i)

(0, 'h')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ' ')
(6, 'w')
(7, 'o')
(8, 'r')
(9, 'l')
(10, 'd')

***square allnum b/w range m to n***

In [4]:
m=int(input("enter a number :  "))
n=int(input("enter a number :   "))
i=m
while i<=n:
    print(i**2,end=" ")
    i+=1

enter a number :  0
enter a number :   3
0 1 4 9

***if even print 0 odd 1***

In [ ]:
#a=["hai",'hello','kite','are','call']
#b={}
#i=0
#while i<len(a):
#    if len(a[i])%2==0:
        #b(a[i])=0
    #else:
        b(a[i])=1
        i+=1
    print(b)

***amstrong number***

In [4]:
num=int(input("enter a number :  "))
sum=0
temp=num
while temp>0:
    digit=temp%10
    sum+=digit**3
    temp//=10
    print(sum)
if num==sum:
    print(num,"is a Armstrong number")
else:
    print(num,"is not a Armstrong number")

enter a number :  153
27
152
153
153 is a Armstrong number

***OR***

***febonacseries***

In [5]:
num=int(input("enter a number :  "))
n1,n2=0,1
sum=0
if num<=0:
    print("please enter the num greater than zero")
else:
    for i in range(0,num):
        print(sum,end=" ")
        n1=n2
        n2=sum
        sum=n1+n2

enter a number :  4
0 1 1 2

In [3]:
num1=int(input("enter a num :  "))
n1,n2=0,1
sum=0
if num1<=0:
    print("l than 0")
else:
    for i in range(0,num1):
        print(sum,end=" ")
        n1=n2
        n2=sum
        sum=n1+n2

enter a num :  4
0 1 1 2

***prime number***

In [9]:
num=(int(input("enter a number :  ")))
if num>1:
    for i in range(2,num):
        if(num%i)==0:
            print(num,"it is not a prime number")
            print(i,"time",num//i ,"is" ,num)
            break
    else:
        print("it is prime number")

enter a number :  5
it is prime number

In [7]:
num=(int(input("enter a number :  ")))
if num>1:
    for i in range(2,num):
        if(num%i)==0:
            print(num,"it is not a prime number")
            print(i,"time",num//i ,"is" ,num)
            break
    else:
        print("it is prime number")

enter a number :  5
it is prime number

***n natural number***

In [1]:
num=int(input("enter a number :  "))
if num<0:
    print("enter a positive number")
else:
    sum=0
    while(num>0):
        sum+=num
        num-=1
        print("the sum is", sum )

enter a number :  16
the sum is 16
the sum is 31
the sum is 45
the sum is 58
the sum is 70
the sum is 81
the sum is 91
the sum is 100
the sum is 108
the sum is 115
the sum is 121
the sum is 126
the sum is 130
the sum is 133
the sum is 135
the sum is 136

***find the missing number***

In [37]:
def FirstMissingPosition(num):
    i=1
    d=set(num)
    while i>0:
        if i not in d:
            return i
        i+=1
a=[1,2,3,6]

In [38]:
FirstMissingPosition(a)

4

In [ ]:
for i in range(0,num):

In [32]:

currenttime= time.localtime(time.time())
print ("Current time is", currenttime)

Current time is time.struct_time(tm_year=2022, tm_mon=7, tm_mday=28, tm_hour=12, tm_min=23, tm_sec=28, tm_wday=3, tm_yday=209, tm_isdst=0)

In [2]:
string = "GeeksforGeeks"
string.swapcase()

'gEEKSFORgEEKS'

In [2]:
121%10

1

In [3]:
a=121
b=0
while a>0:
    k = a%10
    b = b+k
    a = a/10
print(b)

4.444444444444444

***amstrong number***

In [12]:
num=input("enter a number:  ")
sum=0
for i in num:
    sum+=int(i)**3
if sum==int(num):
    print("it is Amstrong")
else:
    print("it is  not an Amstrong")

enter a number:  153
it is Amstrong

In [2]:
a=[1,2,4,4,5]

***duplicate number***

In [8]:
def duplicate(num):
    d={}
    for i in num:
        if i in d:
            return i
        d[i]=1

In [9]:
duplicate(a)

4

In [5]:
type(a)

list